<%= form_for(@indiceconexao) do |f| %>
  <% if @indiceconexao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indiceconexao.errors.count, "error") %> prohibited this indiceconexao from being saved:</h2>

      <ul>
      <% @indiceconexao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :senha %><br />
    <%= f.text_field :senha %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
