<!DOCTYPE html>
<html>
  <head>
   <title>INDICE - Pesquisa de Opinião</title>
   
   <script>
          <%= javascript_include_tag :defaults %>
          <%= csrf_meta_tag %>
   </script>
    
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"> 
   </script>
        
        <style type="text/css">
           @import url("stylesheets/scaffold.css");
        </style>

  </head>
  <body>
  
  <div id="espacomarcatopo">
     <div id="imagemtopodireita">
        <img src="/images/img_topo_incide.jpg" alt="Indece BH" border="0" />
     </div>
        
     <div id="marcatopo">
        <a href="index.html"> <img src="/images/indice_amarelo.jpg" alt="Indece BH" border="0" /></a>
     </div>
  </div>
  
  <div id="faixaamarela"></div>
  
  
  <div id="menutopo">
  <ul>       
        <li> <a href="./indice_bhs"> <div class="btnindice2"> </div> </a></li>
        <li> <a href="#"> <div class="btnnossoservicos"> </div> </a></li>
        <li> <a href="#"> <div class="btnindicetv"> </div> </a> </li>
        <li> <a href="#"> <div class="btnclientes"> </div> </a> </li>
        <li> <a href="#"> <div class="btninstalacoes"> </div> </a></li>
        <li> <a href="#"> <div class="btncontato"> </div> </a> </li>
       
  </ul>
  </div>

   <div id="conteudocentralgeral">

	<p id="notice"><%= notice %></p>

	<p>
	  
	  <%= @indice_bh.testoprincipal %>
	</p>


	<%= link_to 'Editar', edit_indice_bh_path(@indice_bh) %> |
	<%= link_to 'Página Principal', indice_bhs_path %>
   </div>
   
   <div id="faixaamarelafooter"></div>
